In [2]:
import pandas as pd

series = pd.Series([10, 20 , 30] , index=["a" , "b" , "c"])
print(series)
print(series["b"])

a    10
b    20
c    30
dtype: int64
20

In [3]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["NY", "LA", "Chicago"]
}

df = pd.DataFrame(data)
# print(df)
# print(df["Name"])
# print(df.iloc[2])
print()
print(df.loc[1, "City"])

LA

Stage 3: Data Input & Output

CSV
Excel
SQL
JSON

In [ ]:
#csv 

df = pd.read_csv("iris.csv")
# print(df)
df.head() #return top 5 rows

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
#common parameters in read_csv
df = pd.read_csv(
    "iris.csv" ,
    sep = ",", # delimeter
    header = 0,
    index_col=0,
    nrows = 10

)

#writing to csv
df.to_csv("output.csv" , index = False)

#other formats like excel , json , sql
df1 = pd.read_excel("sheet1.xlsx")
df1.to_excel("output.xlsx")


df2 = pd.read_json("data.json")
df2.to_json("output.json")

In [10]:
#HANDLING BIG LARGE FILES AND CHUNKING

chunks = pd.read_csv("wine.csv" , chunksize=4)
for chunk in chunks:
    print(chunk)

   alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
0    14.23        1.71  2.43               15.6        127           2.80
1    13.20        1.78  2.14               11.2        100           2.65
2    13.16        2.36  2.67               18.6        101           2.80
3    14.37        1.95  2.50               16.8        113           3.85

   flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity   hue  \
0        3.06                  0.28             2.29             5.64  1.04
1        2.76                  0.26             1.28             4.38  1.05
2        3.24                  0.30             2.81             5.68  1.03
3        3.49                  0.24             2.18             7.80  0.86

   od280/od315_of_diluted_wines  proline  target
0                          3.92     1065       0
1                          3.40     1050       0
2                          3.17     1185       0
3                          3.45     1480       0
   alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
4    13.24        2.59  2.87               21.0        118            2.8

   flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity   hue  \
4        2.69                  0.39             1.82             4.32  1.04

   od280/od315_of_diluted_wines  proline  target
4                          2.93      735       0